/*UNIVERSITI KUALA LUMPUR*/
/*NUR ALYA NABILAH BINTI ZULKIFLI*/
/*52052120076*/
/*FARAH AIN SOFEA BINTI ARIS FADZILAH*/
/*52052120008*/
/*MADAM NORSHAHARIZAN PUTEH*/
/*WEEK 19*/

.box {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(248, 248, 255, 0.856);
    height: max-content;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 10%;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}
    
a:hover {
    text-decoration: underline;
    color: rgb(121, 2, 121);
    transition: 0.5s;
}
    
a:active {
    text-decoration: none;
    color: black;
}

.box h3 {
    text-decoration: underline;
}